<div class="lv-head">
    <div class="head-left">
        <a href="/" class="logo">炫炫后台系统管理</a>
    </div>
    <div class="head-right">
        <p>欢迎您 - 炫炫（管理员）</p>
        <button class="btn btn-warning">退出</button>
    </div>
</div>